apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.fullnameOverride }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.nameOverride }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.nameOverride }}
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: '[
          {
            "name": "{{ .Values.multus.n3interface.nadName }}",
            "interface": "n3",
            "ips": ["{{ .Values.multus.n3interface.ngu.ipAddress }}/29"],
            "gateway": ["{{ .Values.multus.n3interface.ngu.gateway }}"]
          },
          {
            "name": "{{ .Values.multus.n3interface.nadName }}",
            "interface": "f1u",
            "ips": ["{{ .Values.multus.n3interface.f1u.ipAddress }}/29"],
            "gateway": ["{{ .Values.multus.n3interface.f1u.gateway }}"]
          }
        ]'
      labels:
        app: {{ .Values.nameOverride }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: cuup
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        command: ["/usr/local/bin/srscuup"]
        args: ["-c", "/etc/config/cu_up.yml"]
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: config
          mountPath: /etc/config
        - name: logs
          mountPath: /tmp/logs
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ .Values.fullnameOverride }}-config
      - name: logs
        hostPath:
          path: /home/free5gc/srsRAN_Project_helm/srsran-logs/cuup
          type: DirectoryOrCreate
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
